.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 44px;
	background: #ffffff;
	padding-right: $uni-spacing-col-base;
	padding-left: $uni-spacing-col-base;
	border-bottom: 1px solid $uni-border-color;
	padding-top: var(--status-bar-height);

	.top-bar-left {
		flex: 1;

		image {
			margin-top: 5px;
			width: 34px;
			height: 34px;
			border-radius: 8px;
		}
	}

	.top-bar-center {
		flex: 2;
		text-align: center;

		.logo {
			margin-top: 10.5px;
			width: 44px;
			height: 21px;
		}
	}

	.top-bar-right {
		flex: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;

		image {
			width: 26px;
			height: 26px;
		}
	}
}
